body {
    background-image: url("cat-background.png");
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: brown;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

p {
    font-size: 20;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 175px;
    margin-bottom: 5px;
    border-radius: 20px;
}

#add-btn {
    background: brown;
    font-size: 16px;
}

#save-btn {
    background: darkcyan;
    font-size: 16px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    height: 95%;
    background-color: tan;
    border: 3px solid brown;
    border-radius: 20px;
}
